*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}

:root{
    /* Background Colors */
    --bg-primary-color: #0c0c0c;
    --bg-fill-color: #fdfdfd;
    --bg-food-color: rgb(228, 20, 20);

    /* Text Colors */
    --text-primary-color: #f0f0f0;

    /* Spacing Variables */
    --space-xs:4px;
    --space-sm:8px;
    --space-md:16px;
    --space-lg:24px;
    --space-xl:32px;
    --space-2xl:40px;
    --space-3xl:48px;

    /* borders colors */
    --border-primary-color: #333333;

    /* border radius */
    --border-radius-xs:4px;
    --border-radius-sm:8px;
    --border-radius-md:12px;
    --border-radius-lg:16px;
    --border-radius-xl:20px;
    --border-radius-2xl:24px;

}

html{
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main,section{
    width: 100%;
    height: 100%;
}

.btn{
    padding: var(--space-sm) var(--space-md);
    border: none;
    border-radius: var(--border-radius-sm);
    background-color: var(--bg-fill-color);
    color: var(--bg-primary-color);
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
}

.btn:hover{
    transform: scale(1.1);
}

section {
    padding: var(--space-2xl);
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: var(--space-lg);
}

section .infos{
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.info{
    padding: var(--space-sm) var(--space-md);
    border: 1px solid var(--border-primary-color);
    border-radius: var(--border-radius-sm);
}

.board{
    border: 1px solid var(--border-primary-color);
    flex-grow: 1;
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(50px, 1fr));
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
}

.block{
    border: 1px solid var(--border-primary-color); 
    border-radius:50%;
}
.fill{
    background-color: var(--bg-fill-color);
}
.food{
    background-color: var(--bg-food-color);
}
.modal{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #35353587;
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal .start-game, .modal .game-over{
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
    align-items: center;
}
.modal .game-over{
    display: none;
}